@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:900&display=swap");

$GBW-font-branded:'Cute Font', cursive;
$GBW-font-copy: sans-serif;
$GBW-font-input: 'Titillium Web', sans-serif;
// 'Josefin Sans', sans-serif;

/* ========================== GBW brand real 

$GBW-default: rgba(247, 247, 242, 1);

$GBW-primary: rgba(55, 37, 84, 1);
$GBW-secondary: rgba(99, 83, 128, 1);
$GBW-tertiary: rgba(73, 48, 107, 1);
$GBW-quaternary: rgba(144, 112, 140, 1);

================= */
/* ========================== GBW brand dev 
================= */

$GBW-default: rgba(252, 252, 252, 1);

$GBW-primary: rgba(63, 64, 69, 1);
$GBW-secondary: rgba(106, 104, 122, 1);
$GBW-tertiary: rgba(132, 130, 143, 1);
$GBW-quaternary: rgba(93, 115, 126, 1);

/* ========================== PAGE LEVEL/GLOBAL ================= */

body{
  padding:0;margin:0;
  font-family:$GBW-font-copy;
}
footer{
  font-size:.8em;
  font-weight:100;
}
::selection {
  background-color: white; /* WebKit/Blink Browsers */
  color:$GBW-primary;
}
::-moz-selection {
  background-color: white; /* Gecko Browsers */
  color:$GBW-primary;
}

#GBW-iso-logo{
  opacity:.2;
  // height:250%;
  -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
}

.GBW-copy-default{
color:$GBW-secondary;
}

.GBW-div-splash{
  background-image: linear-gradient(to right, $GBW-primary , darken($GBW-primary,5%));
  color:$GBW-default;
  .title{
    font-family:$GBW-font-branded;
  color:$GBW-secondary;
  font-size:4em;
}
.subtitle{
  color:$GBW-default;
font-weight:800;
}
}

.GBW-div-default{
  background-image: linear-gradient(to right, $GBW-primary , darken($GBW-primary,5%));
  color:$GBW-primary;
}
.GBW-div-bold{
  background-image: linear-gradient(to left, $GBW-primary , darken($GBW-primary,5%));
  color:$GBW-default;
  a{
    color:$GBW-default;
    text-decoration: underline;
    font-weight:800;
    &:hover{
      color:darken($GBW-default,15%);
    }
  }
}
.GBW-div-invert{
  background-image: linear-gradient(to left, $GBW-default , darken($GBW-default,5%));
  color:$GBW-primary;
  a{
    color:$GBW-secondary;
    text-decoration: underline;
    font-weight:800;
    &:hover{
      color:darken($GBW-secondary,15%);
    }
  }
}
.GBW-div-secondary{
  background-color: $GBW-secondary;
  color:$GBW-primary;
}

.is-vertically-centered {
  display: flex;
  align-items: center;
}

input{
  font-weight:800;
  color:$GBW-primary;
  font-family:$GBW-font-input;
  font-size:1.2em;
  ::selection {
  background-color: $GBW-quaternary; /* WebKit/Blink Browsers */
  color:$GBW-secondary;
}
::-moz-selection {
  background-color: $GBW-quaternary; /* Gecko Browsers */
  color:$GBW-secondary;
}
}

/* ========================== GBW classes and IDs ================= */
#GBW-nav{
font-family:$GBW-font-copy;
  background-color:darken($GBW-primary,5%);border-bottom:1px solid $GBW-default;font-weight:800;
  a{
    color:$GBW-default;
    &:hover{color:darken($GBW-default,8%);background-color:none;}
  }
  .navbar-item{
    &:hover{
      background-color:darken($GBW-primary,5%);
      color:$GBW-quaternary;
    }
  }
}

#GBW-footer{
  
&::selection {
  background-color: $GBW-secondary; /* WebKit/Blink Browsers */
  color:$GBW-default;
}
&::-moz-selection {
  background-color: $GBW-secondary; /* Gecko Browsers */
  color:$GBW-default;
}

border-top:1px solid $GBW-primary;
  color:$GBW-primary;
  font-weight:800;
  background-color:$GBW-default;
  background-image:url('./assets/gbw-footer-bg.svg');
  a{color:$GBW-quaternary;
      &:hover{
        color:lighten($GBW-default,12%);
      }
    }
}

.GBW-footer-faux{
  padding-left:1em;
  padding-bottom:5px;
    a{color:$GBW-quaternary;
      &:hover{
        color:lighten($GBW-quaternary,12%);
      }
    }
}

img.other-logo{
-webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
  filter: grayscale(100);
  }

/* ========================== BADGE, BULMA, MANUAL ================= */
@-webkit-keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}[data-badge]{position:relative}[data-badge]::after{display:inline-block;position:absolute;margin:0;padding:.1rem .25rem;text-align:center;white-space:nowrap;line-height:1;background:#00d1b2;background-clip:padding-box;border-radius:0;box-shadow:0 0 0 1px #fff;color:#fff;content:attr(data-badge);z-index:99}[data-badge][data-badge=""]::after{vertical-align:inherit}[data-badge].has-badge-white::after{background:#fff;color:#0a0a0a}[data-badge].has-badge-black::after{background:#0a0a0a;color:#fff}[data-badge].has-badge-light::after{background:#f5f5f5;color:#363636}[data-badge].has-badge-dark::after{background:#363636;color:#f5f5f5}[data-badge].has-badge-primary::after{background:#00d1b2;color:#fff}[data-badge].has-badge-link::after{background:#3273dc;color:#fff}[data-badge].has-badge-info::after{background:#209cee;color:#fff}[data-badge].has-badge-success::after{background:#23d160;color:#fff}[data-badge].has-badge-warning::after{background:#ffdd57;color:rgba(0,0,0,.7)}[data-badge].has-badge-danger::after{background:#ff3860;color:#fff}[data-badge].has-badge-outlined::after{background-color:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-white::after{background:#fff;box-shadow:none;border:1px solid #fff;color:#fff}[data-badge].has-badge-outlined.has-badge-black::after{background:#fff;box-shadow:none;border:1px solid #0a0a0a;color:#0a0a0a}[data-badge].has-badge-outlined.has-badge-light::after{background:#fff;box-shadow:none;border:1px solid #f5f5f5;color:#f5f5f5}[data-badge].has-badge-outlined.has-badge-dark::after{background:#fff;box-shadow:none;border:1px solid #363636;color:#363636}[data-badge].has-badge-outlined.has-badge-primary::after{background:#fff;box-shadow:none;border:1px solid #00d1b2;color:#00d1b2}[data-badge].has-badge-outlined.has-badge-link::after{background:#fff;box-shadow:none;border:1px solid #3273dc;color:#3273dc}[data-badge].has-badge-outlined.has-badge-info::after{background:#fff;box-shadow:none;border:1px solid #209cee;color:#209cee}[data-badge].has-badge-outlined.has-badge-success::after{background:#fff;box-shadow:none;border:1px solid #23d160;color:#23d160}[data-badge].has-badge-outlined.has-badge-warning::after{background:#fff;box-shadow:none;border:1px solid #ffdd57;color:#ffdd57}[data-badge].has-badge-outlined.has-badge-danger::after{background:#fff;box-shadow:none;border:1px solid #ff3860;color:#ff3860}[data-badge].has-badge-rounded::after{border-radius:290486px}[data-badge]::after{min-width:1rem;min-height:1rem;font-size:.75rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-inline{margin-right:1.5rem}[data-badge].has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-inline.has-badge-bottom{margin-right:1.5rem;top:50%;right:-20%}[data-badge].has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.5rem;top:50%;left:20%}[data-badge].has-badge-small::after{min-width:.75rem;min-height:.75rem;font-size:.5625rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-small.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-small.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-small.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-small.has-badge-inline{margin-right:1.125rem}[data-badge].has-badge-small.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom{margin-right:1.125rem;top:50%;right:-20%}[data-badge].has-badge-small.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.125rem;top:50%;left:20%}[data-badge].has-badge-medium::after{min-width:1.2rem;min-height:1.2rem;font-size:.9rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-medium.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-medium.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-medium.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-medium.has-badge-inline{margin-right:1.8rem}[data-badge].has-badge-medium.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom{margin-right:1.8rem;top:50%;right:-20%}[data-badge].has-badge-medium.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:1.8rem;top:50%;left:20%}[data-badge].has-badge-large::after{min-width:1.4rem;min-height:1.4rem;font-size:1.05rem;top:0;right:0;bottom:auto;left:auto;-webkit-transform:translate(50%,-50%);transform:translate(50%,-50%)}[data-badge].has-badge-large.has-badge-left::after{top:0;right:auto;bottom:auto;left:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}[data-badge].has-badge-large.has-badge-bottom::after{top:auto;right:0;bottom:0;left:auto;-webkit-transform:translate(50%,50%);transform:translate(50%,50%)}[data-badge].has-badge-large.has-badge-bottom-left::after{top:auto;right:auto;bottom:0;left:0;-webkit-transform:translate(-50%,50%);transform:translate(-50%,50%)}[data-badge].has-badge-large.has-badge-inline{margin-right:2.1rem}[data-badge].has-badge-large.has-badge-inline::after{top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom{margin-right:2.1rem;top:50%;right:-20%}[data-badge].has-badge-large.has-badge-inline.has-badge-bottom-left{margin-right:inherit;margin-left:2.1rem;top:50%;left:20%}[data-badge].button:not(.is-clipped)::after{overflow:visible}

@use 'bulma-badge';